
body{
    background: rgb(221, 86, 108)


}
canvas{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
  
}
.botao1{
    display:inline;
    color:#000000;
    height: 67px;
    width: 200px;
    left: 100px;
    top: 0px;
    border-radius: 10px;
    border: none;
    padding: 24px;
    background: rgb(220,220,220);
    margin: 20px 70px;
}
.botao2{
    display: inline;
    color: rgb(0, 0, 0);
    height: 67px;
    width: 200px;
    left: 100px;
    top: 0px;
    border-radius: 10px;
    border: none;
    padding: 24px;
    background: #bdb1b1;
    margin: 0 70px;
}
#container{
    display: none;
    color:rgb(255, 255, 255);
}

